*
{
    margin:0;
    padding:0;
    box-sizing:  border-box;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    line-height: normal;
  }
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
} 
.logo img{
    max-width: 185px;
    height: auto;
    margin-left: -20px;
}
.navbar{
    color: black;
    
    font-size: 16px;
    padding: 10px 30px;
    justify-content: space-between;
    font-weight: 400;
    font-family: "Saira SemiCondensed" ;
    transition: all .42s ease;
    text-align: center;
    word-spacing: 40px;
}
.navbar a:hover{
    color:#3586ac ;
}
.nav-icon{
    display: flex;
    align-items: center;
    margin-right: -50px;
}
.nav-icon i{
    margin-right: 30px;
    color: black;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
    position: relative;
    right:10px ;
}
.nav-icon i:hover{
    transform: scale(1.1);
    color: #3586ac;
}
.first-page-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(217, 217, 217, 0.59);
    width: auto;
    height: 1026px;
  }
  .find-the-best {
    position: absolute;
    top: 275px;
    left: 221.68px;
    font-size: 64px;
    display: inline-block;
    font-family: Cardo;
    width: 405.08px;
    height: 257px;
  }
  .first-page-item {
    position: absolute;
    top: 209px;
    left: 747.27px;
    border-radius: 0px 0px 0px 150px;
    background-color: #D9D9D9;
    width: 528.63px;
    height: 682px;
  }
  .first-page-inner {
    position: absolute;
    top: 33px;
    left: 1071.34px;
    background: linear-gradient(180deg, rgba(127, 127, 127, 0), #838bce 68.85%);
    width: 371.66px;
    height: 450px;
  }
  .first-page-child1{
  position: absolute;
  top: 576px;
  left:0px; 
  width: 371.66px;
  height: 450px;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0), #838bce 68.85%);
  }
  .image-1-1 {
    position: absolute;
    top: 165px;
    left: 675.37px;
    border-radius: 0px 0px 0px 150px;
    width: 688.63px;
    height: 842px;
    object-fit: cover;
  }
  .rectangle-div {
    position: absolute;
    top: 595px;
    left: 221.68px;
    border-radius: 9px;
    background-color: #4a58a1;
    width: 342.29px;
    height: 120px;
    font-family: Adamina;
    color: #fff;
    font-size: 40px;
    text-align: center;
    display:inline-block;
    padding: 35px 20px;
  }
  